.maincontainerofnavbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: backdrop-filter 0.3s ease;
}

.maincontainerofnavbar.blur {
  backdrop-filter: blur(10px);
}

.navbarcontainer {
  max-width: 1360px;
  margin: auto;
  padding: 10px 25px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.brandlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.brandlogo h2 {
  letter-spacing: 1px;
  font-weight: 600;
}

.brandlogo > img {
  height: 60px;
  width: auto;
  object-fit: contain;
  cursor: pointer;
  transition: all 0.3s ease;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.allnavlinks {
  display: flex;
  gap: 40px;
}

.allnavlinks > p {
  color: white;
  cursor: pointer;
}
